body{
    font-family:'Poppins', sans-serif;
   
}

.highlight{
    color:purple;
}
.size{
    font-size:50px;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(45deg,purple,purple);
    color:white;
    padding:7px 20px;
    border-radius:5%;
}
.half-width{
    width:43%;
    float: left;
    margin-left:5%;

}

.padma{
    background-color:silver;
}
.summer{
    margin-bottom:470px;
    display: inline-block;
}

 .formal{
    color:mediumblue;
 } 
.medium{
    text-align: center;
    font-size: 40px;
}
.third-width{
    width: 26%;
    float:left;
    margin:2%;
    background-color:mintcream;
    text-align: justify;
    padding:22px;
    border-radius:10px;
   
}

.box{
    padding:1rem;
    border-radius: 5px;
    margin:0 28%;
    position: relative;
}


section{
    height: 800px;
}